# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/
*.egg

# --- Jupyter ---
.ipynb_checkpoints/
*.ipynb~

# --- Environments ---
.env
.venv/
venv/
env/
*.conda
*.log

# --- Data files ---
data_1/
datasets/
# *.csv
*.zip
*.json
*.xlsx
*.parquet
*.db
*.sqlite
*.h5

# --- OS-specific ---
.DS_Store
Thumbs.db

# --- IDEs / Editors ---
.vscode/
.idea/
*.swp

# --- Outputs ---
outputs/
results/
*.png
*.jpg
*.svg
*.pdf

